body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	margin: auto;
	height: 565vh;
	margin: auto;
	background-color: #fde8c6;
}
.logo a{
	text-decoration: none;
	color: black;
}
.navbarmenu{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.navbarmenu li a{
	text-decoration: none;
	color: #212529;
	font-size: 18px;
}
.wrapper{
	display: grid;
	grid-template-columns: 6fr 1fr 1fr;
	margin-top: 1%;
}
.right1 a{
	color: #212529;
	text-decoration: none;
	font-size: 18px;
}
.navbarmenu1{
	list-style-type: none;
	
}
.text h1{
	font-size: 72px;
	font-family: Helvetica;
}
.wrapper1{
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-top: 4%;
}
.button{
	position: relative;
}
.button a{
	bottom: 0;
	position: absolute;
	right: 0;
	color: #212529;
}
.wrapper2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 4%;
}
.mebel{
	position: relative;
}
.mebel p{
	color: #212529;
	font-size: 20px;
}
.mebel img{
	height: 493px;
	position: absolute;
	bottom: 0;
}
.mebel1 img{
	width: 100%;
	height: 809px;
	size: cover;
}
.wrapper3{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 9%;
}
.let1 h2{
	line-height: 66.24px;
	font-size: 48px;
	color: #212529;
}
.let2{
	margin-top: 3%;
}
.let2 p{
	font-size: 16px;
	color: #212529;
}
.p1{
	color: black;
	font-size: 36px;
}
.hu{
	margin-top: 6%;
}
.wrapper4{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 10%;
}
.rabwrap{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 13%;
}
.rabota1 h2{
	font-size: 48px;
}
.rabwrap1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 4%;
}
.rabwrap2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 4%;
}
.rabwrap3{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 4%;
}
.rabwrap4{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 4%;
}
.idea p{
	color: #212529;
	font-size: 36px;
	line-height: 49.68px;
}
.idea1 p{
	font-size: 16px;
	line-height: 22.4px;
	color: #212529;
}
.rabota2{
	margin-top: 3%;
}
.rabota2 hr{
	border: 1px solid #000000;
}
.telik img{
	height: 500px;
	width: 358px;
}
.row{
	display: flex;
	flex-flow: row nowrap;
}
.telik{
	width: 379.28px;
}
.product{
	width: 379.28px;
}
.row .col3{
	width: 379.28px;
	margin-bottom: 25px;
}
@media (min-width: 1399px){
	.telik img{
		height: 580px;
		width: 415px;
	}
	.telik{
		width: 439.28px;
	}
	.product{
		width: 439.28px;
	}
	.row .col3{
		width: 439.28px;
		margin-bottom: 28px;
	}
}
.container .project{
	font-size: 48px;
	line-height: 66.24px;
	margin-top: 8%;
	margin-bottom: 3%;
}
.wrapper5{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.name{
	text-align: center;
	margin-right: 3%;
	border: 1px solid #000000;
}
.namer{
	text-align: center;
	border: 1px solid #000000;
}
.name h4{
	color: #212529;
	font-size: 18px;
}
.name p{
	font-size: 16px;
	color: #212529;
	margin-bottom: 14%;
	padding-right: 5%;
	text-align: center;
	padding-left: 5%;
}
.name img{
	margin-top: 12%;
	margin-bottom: 10%;
}
.namer h4{
	color: #212529;
	font-size: 18px;
}
.namer p{
	font-size: 16px;
	color: #212529;
	margin-bottom: 14%;
	padding-right: 5%;
	text-align: center;
	padding-left: 5%;
}
.namer img{
	margin-top: 12%;
	margin-bottom: 10%;
}
.otzivi{
	margin-top: 9%;
	margin-bottom: 2%;
	font-size: 48px;
	line-height: 66.24px;
}
.wrapper6{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.mansur img{
	height: 566px;
}
.company{
	display: none;
}
.formcontrol{
	width: 100%;
	border: none;
	height: 31px;
	margin-bottom: 3%;
	border-bottom: 1px solid black;
}
.mansur2 h2{
	font-size: 48px;
	margin-bottom: 5%;
}
.mansur2 p{
	color: #000000;
	font-size: 16px;
	margin-bottom: 9%;
}
.formcontrol:hover{
	width: 100%;
	border: none;
	height: 31px;
	border-bottom: 1px solid black;
}
.formcontrol:focus{
	width: 100%;
	height: 31px;
	border: none;
	border-bottom: 1px solid black;
	position: relative;
}
::placeholder{
	color: #212529;
	position: absolute;
	top: 0;
}
.buttons{
	color: white;
	background-color: #212529;
	padding: 12px 20px;
	font-size: 16px;
	text-decoration: none;
}
.mansa{
	margin-top: 8%;
}
.formcontroll{
	width: 100%;
	border: none;
	height: 31px;
	margin-bottom: 3%;
	border-bottom: 1px solid black;
	margin-bottom: 7%;
}
.formcontroll:hover{
	width: 100%;
	border: none;
	height: 31px;
	border-bottom: 1px solid black;
}
.menunu{
	display: none;
}
.formcontroll:focus{
	width: 100%;
	height: 31px;
	border: none;
	border-bottom: 1px solid black;
	position: relative;
}
.wrapper7{
	display: grid;
	grid-template-columns: 2fr 3fr 1fr;
	margin-top: 13%;
}
.avejis{
	display: flex;
	flex-flow: row nowrap;
}
.avejis a{
	margin-right: 5%;
	text-decoration: none;
	color: #212529;
}
@media (min-width: 430px) and (max-width: 430px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 430px;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 379px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
		display: inline-block;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	
}
@media (min-width: 360px) and (max-width: 360px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 360px;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 379px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	
}
@media (min-width: 600px) and (max-width: 600px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 600px;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 450px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	
}
@media (min-width: 320px) and (max-width: 320px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 320px;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 380px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	
}
@media (min-width: 712px) and (max-width: 712px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 750px;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 450px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	
}
@media (min-width: 800px) and (max-width: 800px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 810px;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 450px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	
}
@media (min-width: 384px) and (max-width: 384px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 384px;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 450px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	
}
@media (min-width: 412px) and (max-width: 412px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 412px;
		height: 700vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 640px) and (max-width: 640px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 640px;
		height: 700vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 480px) and (max-width: 480px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 480px;
		height: 630vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 393px) and (max-width: 393px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 393px;
		height: 700vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 353px) and (max-width: 353px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 353px;
		height: 743vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 240px) and (max-width: 240px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 240px;
		height: 743vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 200px;
		width: 130px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 138.28px;
	}
	.product{
		width: 138.28px;
	}
	.row .col3{
		width: 138.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 414px) and (max-width: 414px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 414px;
		height: 600vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 190px;
		width: 125px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 132.28px;
	}
	.product{
		width: 132.28px;
	}
	.row .col3{
		width: 132.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 390px) and (max-width: 390px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 390px;
		height: 659vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 190px;
		width: 118px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 124.28px;
	}
	.product{
		width: 124.28px;
	}
	.row .col3{
		width: 124.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 820px) and (max-width: 820px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 820px;
		height: 659vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 700px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 280px;
		width: 200px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 212.28px;
	}
	.product{
		width: 212.28px;
	}
	.row .col3{
		width: 212.28px;
		margin-bottom: 10px;
	}
	.telik img{
		height: 380px;
		width: 225px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 235.28px;
	}
	.product{
		width: 235.28px;
	}
	.row .col3{
		width: 235.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 1024px) and (max-width: 1024px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 1024px;
		height: 659vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 700px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 480px;
		width: 400px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 412.28px;
	}
	.product{
		width: 412.28px;
	}
	.row .col3{
		width: 412.28px;
		margin-bottom: 10px;
	}
	.telik img{
		height: 380px;
		width: 225px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 235.28px;
	}
	.product{
		width: 235.28px;
	}
	.row .col3{
		width: 235.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 540px) and (max-width: 540px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 540px;
		height: 600vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 190px;
		width: 125px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 132.28px;
	}
	.product{
		width: 132.28px;
	}
	.row .col3{
		width: 132.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
@media (min-width: 344px) and (max-width: 344px){
	.text h1{
		font-size: 30px;
	}	
	body{
		width: 344px;
		height: 638vh;
	}
	.wrapper1{
		display: block;
		margin-top: 4%;
	}
	.button a{
		bottom: 0;
		position: absolute;
		left: 0;
		color: #212529;
		font-size: 18px;
	}
	.button{
		margin-top: 15%;
	}
	.wrapper2{
		display: block;
		grid-template-columns: 1fr 1fr;
		margin-top: 4%;
	}
	.mebel img{
		display: none;
	}
	.mebel1 img{
		height: 600px;
		background-size: cover;
		width: 100%;
		margin-top: 8%;
	}
	.mebel p{
		font-size: 16px;
		padding-top: 5%;
	}
	.let1 .company{
		display: block;
		font-size: 28px;
	}
	.h22{
		display: none;
	}
	.wrapper3{
		display: block;
		margin-top: 9%;
	}
	.let2 p{
		font-size: 15px;
	}
	.let2 p .p1{
		font-size: 24px;
	}
	.wrapper4{
		display: block;
		margin-top: 10%;
	}
	.rabota1 h2{
		font-size: 28px;
	}
	.rabwrap{
		display: block;
		margin-top: 13%;
	}
	.rabwrap1{
		display: block;
		margin-top: 5%;
	}
	.rabwrap2{
		display: block;
		margin-top: 5%;
	}
	.rabwrap3{
		display: block;
		margin-top: 5%;
	}
	.rabwrap4{
		display: block;
		margin-top: 5%;
	}
	.telik img{
		height: 190px;
		width: 125px;
	}
	.row{
		display: flex;
		flex-flow: row nowrap;
	}
	.telik{
		width: 132.28px;
	}
	.product{
		width: 132.28px;
	}
	.row .col3{
		width: 132.28px;
		margin-bottom: 10px;
	}
	.container .project{
		font-size: 28px;
	}
	.wrapper5{
		display: block;
	}
	.name{
		text-align: center;
		margin-right: 0px;
		margin-bottom: 5%;
		border: 1px solid #000000;
	}
	.namer{
		text-align: center;
		border: 1px solid #000000;
		margin-bottom: 15%;
	}
	.container .otzivi{
		font-size: 28px;
	}
	.mansur img{
		display: none;
	}
	.wrapper6{
		display: block;
	}
	.mansur2 h2{
		font-size: 28px;
	}
	.wrapper7{
		display: block;
		text-align: center;
	}
	.avejis{
		text-align: center;
		margin-left: 30%;
	}
	.right .navbarmenu{
		display: none;
	}
	.right1 a{
		display: none;
	}
	.menunu{
		display: block;
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}
	.menunu li:hover ul{
		display: block;
	}
	.podmenu{
		padding-left: 0;
		display: none;
		margin-bottom: 0;
		list-style-type: none;
	}
	.podmenu li a{
		text-decoration: none;
		color: #212529;
		font-weight: 600;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 30px;
	}
	.podmenu li a:hover{
		text-decoration: none;
		color: #212529;
		color: black;
		font-weight: 700;
	}
	.menunu li ion-icon{
		width: 40px;
		color: #212529;
		height: 40px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 78% 20%;
		margin-top: 10%;
	}
	.logo{
		margin-top: -3%;
	}
	.avejis{
		margin-left: 35%;
	}	
}
